<html>
    <head>
        <title>Penyegaran Timeline</title>
    </head>
    <body>
        <div id="content" style='text-align: center'>
            <h1>Kompilasi Kesegaran Jasmani &amp; Rohani</h1>
            <h2>Aug - Des 2015</h2>
            <hr/>
            <a href="#" onclick="toggleCatalogs()">Catalogs</a>
            <a href="#" onclick="toggleAwards()">Awards</a>
            <p>Click one of above :)</p>
            <hr/>
            <div id="div-catalogs" style="display:none">
                <h2>Catalogs</h2>
                <div v-for="(index_month, month) in all_year">
                    <h3>{{index_month}}</h3>
                    <div v-for="data_month in month">
                        <a href="{{data_month.original_link}}" target="_blank"><img :src="data_month.media[0]" style='max-width: 500px; width: 100%'></a>
                    </div>
                </div>
            </div>
            <div id="div-awards" style="display:none">
                <h2>Awards</h2>
                <div v-for="(index_award, award) in awards">
                    <h3>{{index_award}}</h3>
                    <div v-for="(index_category, category) in award">
                        <h4>{{index_category}}</h4>
                        <div v-for="(idx_data,data_category) in category">
                            <a href="{{data_category.original_link}}" target="_blank"><img :src="data_category.media[0]" style='max-width: 500px; width: 100%'></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script-->
        <script src="public/vue/vue.min.js"></script>
        <script src="data/all_year.js"></script>
        <script src="data/awards.js"></script>
        <script src="public/js/segar.js"></script>
    </body>
</html>