.like {
  background-color: var(--white-tw);
  color: var(--dark-grey-tw);
}

.heart {
  width: 1.0em;
  height: 1.0em;
  display: inline-block;
  margin: 3px 0 2px 0;
  vertical-align: bottom;
}

.heart-svg {
  display: inline-block;
  fill: red;
}

.count {
  font-size: 1.0em;
  display: inline-block;
}