.original-tweet {
  background-color: var(--white-tw);
  color: var(--dark-grey-tw);
}

.original-tweet:hover {
  color: var(--white-tw);
  background-color: var(--blue-tint-tw);
}

.bird {
  height: 1.0em;
  width: 1.0em;
  display: inline-block;
  margin: 4px 5px 0px 0;
  vertical-align: bottom;
}

.bird-svg {
  display: inline-block;
  fill: #73A1FB;
}

.original-tweet:hover .bird-svg {
  fill: var(--white-tw);
}