@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TinderFont;
  src: url(https://tinder.com/static/build/fonts/4c112e110a336202365ba00324390d27.woff2) format('woff2');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

/* @font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
} */

body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'TwitterChirp', cursive;
}

:root {
  --blue-tw: #1DA1F2;
  --blue-tint-tw: #1D8DEE;
  --light-blue-tw: #36D8FF;
  --white-tw: #F5F8FA; 
  --white-bold-tw: #FFF; 
  --grey-tw: #AAB8C2; 
  --light-grey-tw: #E1E8ED; 
  --dark-grey-tw: #657786; 
  --black-tw: #14171A;
  --black-bold-tw: #000;
  /* --night-dim-tw: #243447; */
  --night-dim-tw: #1B2737;
  /* --night-dim-bold-tw: #141d26; */
  --night-dim-bold-tw: #151E29;
}