#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#e66465, #9198e5); /* default mode */
  background: linear-gradient(var(--white-bold-tw), var(--white-tw)) /* light mode*/;
  /*background: linear-gradient(var(--night-dim-bold-tw), var(--night-dim-tw)); /* night mode*/
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'TinderFont', cursive;
  color: var(--dark-grey-tw); /*light-mode*/
  /*color: var(--white-tw); /*night-mode*/
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: var(--white-tw);
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: var(--white-tw);
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10); /*light-mode*/
  /*box-shadow: 0px 0px 10px 0px rgba(256, 256, 256, 0.10); /*night-mode*/
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

/* .swipe:last-of-type {

} */

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: var(--white-tw);
  text-shadow: 0 0 10px #000;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: var(--black-tw);
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white-tw);
  font-size: 18px;
  font-family: 'TwitterChirp', cursive;
  background-color: var(--blue-tw);
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 120px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
