#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#e66465, #9198e5); /* default mode */
  background: linear-gradient(var(--white-bold-tw), var(--white-tw)) /* light mode*/;
  /*background: linear-gradient(var(--night-dim-bold-tw), var(--night-dim-tw)); /* night mode*/
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'TinderFont', "Noto Sans", 'Trebuchet MS', sans-serif;
  color: var(--dark-grey-tw); /*light-mode*/
  /*color: var(--white-tw); /*night-mode*/
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  margin-top: 0.4em;
  margin-bottom: 0.5em;
}

h2 {
  color: var(--white-tw);
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 85vw;
  max-width: 540px;
  height: 85vw;
  max-height: 540px;
}

.card {
  position: relative;
  background-color: var(--white-tw);
  width: 85vw;
  max-width: 540px;
  height: 540px;
  max-height: 85vw;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10); /*light-mode*/
  /*box-shadow: 0px 0px 10px 0px rgba(256, 256, 256, 0.10); /*night-mode*/
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.badge-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: left;
}

.badge {  
  margin: 10px 0 10px 10px;
  border-radius: 50px;
  padding: 2px 12px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30); /*light-mode*/
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: var(--black-tw);
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px 0;
  display: flex;
  width: 85vw;
  max-width: 540px;
}

.buttons.jc-space-between {
  justify-content: space-between;
}

.buttons.jc-center {
  justify-content: center;
}

  .button {
    flex-shrink: 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: var(--dark-grey-tw);
    font-size: 18px;
    font-family: 'TwitterChirp', cursive;
    background-color: var(--white-tw);
    transition: 200ms;
    margin: 0;
    font-weight: bold;
    min-width: 3em;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
    cursor: pointer;
  }

  .button.tweet {
    background-color: var(--white-tw);
    color: var(--blue-tint-tw);
    border: 1px solid var(--light-grey-tw);
  }

  .button.tweet:hover {
    background-color: var(--blue-tint-tw);
    color: var(--white-tw);
    border-color: var(--blue-tint-tw);
  }

  .button.see-tweet {
    color: var(--blue-tint-tw);
    box-shadow: none;
  }

  .button.like {
    background-color: var(--green-light-tw);
    color: var(--green-tw);
  }

  .button.dislike {
    background-color: var(--red-light-tw);
    color: var(--red-tw);
  }

  .button:hover {
    transform: scale(1.05);
  }

footer {
  margin: 3em 0 2em;
  padding-top: 2em;
  border-top: 1px solid var(--light-grey-tw);
  max-width: 720px;
  width: 85vw;
}

  footer p {
    font-size: 0.85em;
    color: var(--grey-tw);
    line-height: 140%;
  }

  footer p a {
    color: var(--blue-tint-tw);
  }

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
